/* Your app styles here */

html, body {
    /* on iOS: use full viewport height (vh units) instead of full safe area (% units) */
    height: 100vh;
}

.list .item-content.myItemContent {
    min-height: 75px;
}

.myIcon {
    width: 36px;
    height: 36px;
}

#customSearchResults {
    position: absolute;
    top: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
    left: 10px;
    width: calc(100% - 20px);
    z-index: 1000;
}